# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build folders
bin/
obj/

# Visual Studio Code
.vscode/

# Operating system files
.DS_Store
Thumbs.db

# Temporary files
*.tmp
*.temp
*.log

# NuGet
packages/
*.nupkg

# Rider
.idea/
